In [4]:
import pandas as pd                  # Pandas
import numpy as np                   # Numpy
from matplotlib import pyplot as plt # Matplotlib

# Package to implement ML Algorithms
import sklearn
import xgboost as xgb

# Import MAPIE to calculate prediction intervals
from mapie.regression import MapieRegressor

# To calculate coverage score
from mapie.metrics import regression_coverage_score

# Package for data partitioning
from sklearn.model_selection import train_test_split

# For 
import matplotlib.pyplot as plt

# Package to record time
import time

# Module to save and load Python objects to and from files
import pickle 

# Ignore Deprecation Warnings
import warnings
warnings.filterwarnings('ignore')

#To get month names
import calendar

# Display inline plots as vector-based (svg)
%config InlineBackend.figure_formats = ['svg']

%matplotlib inline

In [2]:
# Import Data
df = pd.read_csv('California_Houses.csv')
df.head()

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
0,452600.0,8.3252,41,880,129,322,126,37.88,-122.23,9263.040773,556529.158342,735501.806984,67432.517001,21250.213767
1,358500.0,8.3014,21,7099,1106,2401,1138,37.86,-122.22,10225.733072,554279.850069,733236.884360,65049.908574,20880.600400
2,352100.0,7.2574,52,1467,190,496,177,37.85,-122.24,8259.085109,554610.717069,733525.682937,64867.289833,18811.487450
3,341300.0,5.6431,52,1274,235,558,219,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568
4,342200.0,3.8462,52,1627,280,565,259,37.85,-122.25,7768.086571,555194.266086,734095.290744,65287.138412,18031.047568

In [25]:
train_data, test_data = sklearn.model_selection.train_test_split(df, test_size=0.0005, train_size=0.9995)

In [26]:
train_data

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
16652,209600.0,1.4036,31,2773,844,1358,794,35.28,-120.66,14258.360005,259742.014771,430454.636174,253856.210994,319285.983501
6918,453800.0,9.1541,37,2414,323,878,305,33.96,-118.00,27471.234282,24692.888751,158793.120655,514306.836493,582341.438982
12930,196000.0,5.6529,14,3443,510,1413,505,38.65,-121.21,71554.429468,576056.400160,754203.872012,157946.830171,144476.631555
3932,201900.0,5.2149,18,847,185,733,178,34.20,-118.59,18363.911312,35862.968101,211679.844399,458585.190396,526561.271568
3472,431800.0,9.2873,26,4516,611,1714,581,34.29,-118.49,30069.666084,34820.870974,214062.582071,456917.069846,524945.386825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,86400.0,1.7552,24,1003,251,1098,227,39.35,-121.65,139957.241494,662614.021033,840611.382663,225004.583901,187949.701250
525,206300.0,3.6417,52,1711,386,885,373,37.77,-122.24,4501.835357,547992.069386,726775.930546,57184.234338,16819.758727
9959,304000.0,3.6389,44,1066,190,416,174,38.34,-122.28,23237.416576,598602.161135,777953.201049,116752.131764,64318.316740
7505,110000.0,3.0000,39,1472,302,1036,318,33.92,-118.28,12482.064427,15080.299933,169527.675887,500778.155643,568764.984549
18258,366700.0,5.0086,36,857,156,448,168,37.38,-122.08,10959.419492,506732.739605,684968.403169,17251.001832,53642.527515

In [27]:
test_data

,Median_House_Value,Median_Income,Median_Age,Tot_Rooms,Tot_Bedrooms,Population,Households,Latitude,Longitude,Distance_to_coast,Distance_to_LA,Distance_to_SanDiego,Distance_to_SanJose,Distance_to_SanFrancisco
12054,119400.0,2.3160,35,1755,446,1453,428,33.88,-117.57,43020.401948,65012.790429,134922.818779,547933.638862,615901.180719
12926,139200.0,4.2188,28,3391,550,1546,553,38.66,-121.30,69986.614882,580783.588105,759124.117179,156177.196709,139548.955771
14615,187500.0,2.5682,25,1399,329,1308,355,32.80,-117.16,10369.566004,171759.950165,9370.280633,663034.210114,731025.023808
12101,214500.0,5.5563,13,7910,1195,3382,1176,33.94,-117.34,60938.293145,84238.897304,137142.944543,558294.274532,626121.038151
4113,360700.0,5.1377,45,417,89,187,88,34.14,-118.40,16780.286213,17390.158167,195699.483845,474943.914978,542960.185031
1806,88300.0,1.4423,32,2389,652,1672,584,37.93,-122.34,2439.950442,567089.948662,745988.854699,76937.668704,19111.753785
1206,59400.0,2.1728,22,1814,342,941,323,39.41,-121.71,145513.483790,670935.135749,848969.501980,231227.080732,192414.176696
7596,91500.0,2.4537,35,1582,391,1957,404,33.89,-118.25,13661.484320,18049.111826,165194.222199,505113.267060,573100.064028
7069,179500.0,4.2292,36,1632,295,797,283,33.95,-118.02,25748.032801,23545.941582,158753.121420,513902.118263,581937.234443
17034,341500.0,3.6111,24,2307,510,842,507,37.50,-122.26,7625.175105,527385.436746,705538.401360,37215.407176,33993.890991
1202,63000.0,1.8355,34,842,186,635,165,39.36,-121.69,140352.585306,665229.037697,843299.419928,225811.320371,187763.516636

In [28]:
train_data.to_csv('housing_train_data.csv', index=False)
test_data.to_csv('housing_user_data.csv', index=False)